@keyframes divcolor {
    0% {background-color: red;}
    50% {background-color: blue;}
    100% {background-color: yellow;}
}

div {
    width: 100px;
    height: 100px;
    background-color: red;
    animation-name: divcolor;
    animation-duration: 4s;
    animation-iteration-count: infinite;   
  }

  #whatsapp {
    width: 50px;
    height: 50px;
    position: relative;
    padding-left: 25px;
    padding-top: 25px;  
    animation-name: iconAnim;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes iconAnim {
    0% {opacity: 1;
        filter: saturate(100%);
        filter: invert(0);
        transform: translateY(25px);
        transform: translateX(25px);
    }
    25% {transform: translateY(-50px);}
    50% {opacity: 0.5;
        filter: saturate(50%);
        transform: translateX(-50px);;
    }
    75% {transform: translateY(50px);}
    100% {opacity: 1;
          filter: saturate(200%);
          filter: invert(100%);    
    }



